body
{
    background-color: whitesmoke;
}
p{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.m{
    width: 900px;
}
form{
border: 6px solid wheat;
    border-radius: 4px;
    
}
form p{
    font-size: 20px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input{
    border-radius: 7px;
    height: 2em;
}